@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* For Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Homepage css */
.intro-wrapper {
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform: translateY(0);
    opacity: 1;
}

.intro-wrapper.slide-up {
    transform: translateY(-100%);
    opacity: 0;
}

